@import "tailwindcss";

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: Arial, Helvetica, sans-serif;
}

* {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
