@import "tailwindcss";


:root {
  --color-background: #ffffff;
  --color-background-secondary: #F3F3F3;
  --color-foreground: #222831;
  --color-primary: #1C4D8D;
  --color-secondary: #FEB05D;
  --color-tertiary: #FF8300;
  --color-quaternary: #061B35;
  --color-success: #00B856;
  --color-danger: #FF4D4D;
  --color-warning: #FFC107;
  --color-info: #8CE4FF;
} 
@theme {
  --font-unbounded: var(--font-unbounded);
  --font-nunito: var(--font-nunito-sans);
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}