@import "tailwindcss";


:root {
  --color-background: #f0f2f5;
  --color-foreground: #222831;
  --color-primary: #4f46e5;
  --color-secondary: #4f46e5;
  --color-success: #4f46e5;
  --color-danger: #4f46e5;
  --color-warning: #4f46e5;
  --color-info: #4f46e5;
} 
@theme {
  --font-unbounded: var(--font-unbounded);
  --font-nunito: var(--font-nunito-sans);
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
}

* {
  scrollbar-width: none;
}
