@import 'tailwindcss';

:root {
  --color-background: #ffffff;
  --color-background-secondary: #f3f3f3;
  --color-foreground: #222831;
  --color-primary: #1c4d8d;
  --color-primary-hover: #0F2854;
  --color-secondary: #feb05d;
  --color-tertiary: #ff8300;
  --color-quaternary: #061b35;
  --color-success: #00b856;
  --color-danger: #ff4d4d;
  --color-warning: #ffc107;
  --color-info: #8ce4ff;
}
@theme {
  --font-unbounded: var(--font-unbounded);
  --font-nunito: var(--font-nunito-sans);
}
body {
  background: var(--color-background);
  color: var(--color-foreground);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
